.teamStyle{
    background-color:white;
    color: black;
    height: 350px;
    width: 350px;
    margin: 20px;
    
    
}
.teamStyle img{
    height:150px;
    width: 150px;
}
.background-image{
    background-image: url(../../Photo/banner.jpg);
    height: 300px;
  }

  .background-image h1{
    color: white;
     
  }
