.teamDetail{
    background-color: #282c34;
    color: white;
}
.container{
    background-color: blue;
    height: 280px;
    width: 100%;
    border-radius: 30px;
}

.teamImage{
    margin-top: 30px;
}

.teamDetailHistory{
    text-align: left;
    color: white;
    margin-top:30px;
}
.teamDescriptionStyle{
    text-align:center;
    width: 50%;
    display: inline;
}
.banner{
    width: 80px;
}
.logoStyle{
    width: 20px;
}
.socialLogoStyle{
    padding: 10px;
    margin: 5px;
    
}
.StadiumBackground-image{
    background-image: url(../../Photo/Stadium.jpg);
    height: 300px;
    width: 100%;
  }
  